[access]
	inheritFrom = All-Projects
[project]
	description = DCAE Designer End To End Testing suite
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-dcae-d-ci-committers
	owner = group saml/onap-gerrit-sdc-dcae-d-ci-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
